@import "tailwindcss";
@import "@nuxt/ui";

@import '@/shared/assets/fonts/tt-commons/fonts.css';

:root {
  --font-base: 'TT Commons', system-ui, sans-serif;
  --main-black: #101010;
  --main-white: #FFFFFF;
  --main-grey: #E8E8E8;
  --main-pink: #E2BEFF;
}

body {
  font-family: var(--font-base);
  color: var(--main-black);
}